# --- GENERAL ---
*.suo
*.user
*.tmp
*.log
*.cache

# --- C++ Build Artifacts ---
*.obj
*.exe
*.pdb
*.ilk
*.lib
*.exp
*.idb
*.ipch
*.tlog
*.VC.db
*.VC.opendb

# --- C# Build Artifacts ---
bin/
obj/
*.dll

# --- OS-generated ---
.DS_Store
Thumbs.db

# --- IDE Specific ---
.vs/
_ReSharper.*
*.sdf
*.opensdf

# --- Packages (NuGet / .NET) ---
packages/
project.lock.json
project.fragment.lock.json

# --- Precompiled Headers ---
*.gch
*.pch

# --- Fortran ---
*.mod
*.smod

# --- Static/Dynamic Libs ---
*.lai
*.la
*.a
*.so
*.dylib

# --- Executables ---
*.out
*.app
